#react-container {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
}
.application-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .component-container { // holds datapicker and spreadsheet
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .right-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
  }
  .bottom-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    box-sizing: border-box;
    padding: 0 20px;

    z-index: 1;
    background-color: whitesmoke;
    border-top: 1px solid lightgrey;
    width: 100%;
    height: 50px;
    button {
      cursor: pointer;
      font-weight: bold;
      font-size: 0.875rem;
      letter-spacing: 1px;
      padding: 3px 6px;
      border-radius: 5px;
      background-color: grey;
      border: 1px solid whitesmoke;
      color: whitesmoke;
      &:hover {
        background-color: dimgrey;
      }
    }
  }

  .loader-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loading-message {
      font-family: monospace;
      margin-top: 50px;
    }
  }
}
.memory-canvas {
  display: none;
  visibility: hidden;
}
