.datapicker-selector {
  display: flex;
  ul {
    font-size: 12px;
    letter-spacing: 3px;
    display: flex;
    width: 100%;
    height: 48px;
    background: rgb(230, 230, 230);
    align-items: flex-start;
    justify-content: space-around;
    li {
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      &:not(.active) {
        cursor: pointer;
        box-shadow: inset 0 -5px 8px -5px rgba(0, 0, 0, 0.2);
        &:hover {
          background: rgb(240, 240, 240);
        }
      }
      &.active {
        background: white;
        font-weight: 700;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }
      span {
        text-transform: uppercase;
      }
    }
  }
}

.datapicker-container {
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: white;
  z-index: 1;
  user-select: none;
  canvas {
    cursor: pointer;
  }
  .datapicker-ui {
    position: absolute;
    margin: 20px;
    right: 0;
    bottom: 0;
    display: flex;
    .scale-indicator {
      background: white;
      color: black;
      padding: 5px;
      outline: 1px solid grey;
      height: 100%;
    }
    .datapicker-minimap {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: default;
      z-index: 0;
      display: flex;
      .whole {
        align-items: center;
        justify-content: center;
        display: flex;
        outline: 1px solid grey;
        position: relative;
        span {
          font-weight: 700;
          color: #7f7f7f;
          z-index: 1;
          text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
        }
        .window {
          position: absolute;
          left: 10px;
          outline: 1px solid grey;
          background-color: rgba(0, 0, 0, 0.2);
          width: 20px;
          height: 10px;
        }
      }
    }
    .scale-buttons {
      cursor: pointer;
      z-index: 1;
      border-radius: 5px;
      border: 1px solid grey;
      background-color: whitesmoke;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        &:not(:first-child) {
          border-top: 1px solid grey;
        }
        &:hover {
          background-color: white;
        }
        &:first-child {
          border-radius: 5px 5px 0 0;
        }
        &:last-child {
          font-size: 12px;
          border-radius: 0 0 5px 5px;
        }
      }
    }
  }
  .highlighter {
    position: absolute;
    pointer-events: none;
    margin-top: -3px;
    margin-left: -3px;
    box-shadow: 0px 3px 10px grey;
    border: 3px solid rgb(238, 132, 52);
  }
}
