.handsontable {
  font-size: 12px;
  .htContextMenu {
    .htItemWrapper {
      &:after { // sizing arrrows
        transform: scale(0.8);
      }
    }
    .htDisabled {
      div {
        color: lightgrey;
      }
    }
  }
}

.spreadsheet-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  .input-bar {
    box-sizing: border-box;
    width: 100%;
    height: 21px;
  }
  .operation-drawer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    .operation-button {
      &.highlighted {
        background: darkorange;
      }
      letter-spacing: 2px;
      background-color: rgb(100, 100, 100);
      color: rgb(230, 230, 230);
      font-weight: 700;
      font-size: 12px;
      cursor: pointer;
      border-radius: 2px;
      padding: 2px 10px;
    }
  }
  .table-container {
    textarea.capture-cells {
      cursor: pointer !important;
    }
    .capture-cells {
      tbody td:hover {
        cursor: pointer;
        box-shadow: inset 0 0 0 1px rgb(238, 132, 52);
      }
    }
    overflow: hidden;
    height: 100%;
    width: 100%;
    .highlighted-reference {
      $color0: rgba(158, 201, 114, 0.2);
      $shadow0: rgba(158, 201, 114, 1);

      $color1: rgba(255, 107, 151, 0.2);
      $shadow1: rgba(255, 107, 151, 1);

      $color2: rgba(136, 73, 143, 0.2);
      $shadow2: rgba(136, 73, 143, 1);

      $color3: rgba(238, 132, 52, 0.2);
      $shadow3: rgba(238, 132, 52, 1);

      // $color3: rgba(255, 184, 111, 0.2);
      // $shadow3: rgba(255, 184, 111, 1);

      $color4: rgba(29, 131, 140, 0.2);
      $shadow4: rgba(29, 131, 140, 1);

      background-color: $color3;
      box-shadow: inset 0 0 1px $shadow3;
    }
    .canvas-container {
      display: flex;
      padding: 0;
      margin: 0;
      position: relative;
      .randomise-button {
        border-radius: 10px 0 0 0;
        display: flex;
        right: 0;
        bottom: 0;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        .random-icon {
          pointer-events: none;
          width: 13px;
          height: 13px;
          padding-bottom: 1px;
        }
        &:active {
          background-color: rgba(224, 224, 224, 0.7);
        }
        cursor: pointer;
        opacity: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.7);
        border-top: 1px solid #CCC;
        border-left: 1px solid #CCC;
        z-index: 1;
      }

      &:hover {
        .randomise-button {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .slider-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      align-items: center;
      padding: 2px;
      width: 100%;
      height: 100%;
      pointer-events: none;
      span {
        margin-bottom: 2px;
        font-weight: bold;
      }
      input {
        &.reversed {
          transform: rotate(180deg);
        }
        margin: 0;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        pointer-events: all;
      }
    }
  }
}

.handsontable { // overrides
  td {
    padding: 0;
  }
}
